<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.wasys.filhoescola">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".FilhoNaEscolaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ico_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico_app_redondo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CadastroActivity" />
        <activity android:name=".activity.AguardeSMSActivity" />
        <activity
            android:name=".activity.MensagensActivity"
            android:label="@string/mensagens"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WebActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MensagensAlunoActivity"
            android:label="@string/mensagens"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".firebase.FilhoFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.FilhoFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.SyncMensagensService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </service>
    </application>

</manifest>